html, body {
	margin: 0;
	padding: 0;
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
}

.clock {
	width: 100vw;
	text-align: center;
}

.digit {
	width: 9%;
	height: 100%;
	margin: 0 0.1%;
	position: relative;
	display: inline-block;
	filter: blur(1px);
}

.digit::before {
	content: "";
	display: block;
	padding-bottom: 157.5%;
}

.digit .segment {
	background: #fdf8a3;
	border-radius: 50%;
	position: absolute;
	opacity: 0.15;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	box-shadow: inset -3px -1px 3px 0px rgba(0, 0, 0, 0.4), inset 3px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.digit .segment.on, .separator {
	opacity: 1;
	/*! box-shadow:0 0 50px rgba(255,0,0,0.7); */
	transition: opacity 0s;
	-webkit-transition: opacity 0s;
	-ms-transition: opacity 0s;
	-moz-transition: opacity 0s;
	-o-transition: opacity 0s;
	box-shadow: inset -3px -1px 3px 0px rgba(255, 253, 0, 0.4), inset 3px 1px 3px 0px rgba(255, 96, 0, 0.5), inset 6px 4px 3px 0px rgba(0, 50, 0, 0.2), 3px 1px 3px 0px rgba(255, 253, 0, 0.4), 0 0 25px rgba(255, 0, 0, 0.7);
}

.separator {
	width: 2%;
	height: 16px;
	background: #fdf8a3;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-bottom: 7%;
	filter: blur(1px);
}

.digit .segment:nth-child(1) {
	top: 7%;
	left: 20%;
	right: 20%;
	height: 7%;
}

.digit .segment:nth-child(2) {
	top: 14%;
	right: 10%;
	width: 12%;
	height: 33%;
}

.digit .segment:nth-child(3) {
	top: 54%;
	right: 10%;
	width: 12%;
	height: 33%;
}

.digit .segment:nth-child(4) {
	top: 86%;
	right: 20%;
	height: 7%;
	left: 20%;
}

.digit .segment:nth-child(5) {
	top: 54%;
	left: 10%;
	width: 12%;
	height: 33%;
}

.digit .segment:nth-child(6) {
	top: 14%;
	left: 10%;
	width: 12%;
	height: 33%;
}

.digit .segment:nth-child(7) {
	top: 47%;
	right: 20%;
	left: 20%;
	height: 7%;
}
